@import "top";
@import "card";

@rootFontSize: 62.5%;
@headerFont: 'Montserrat', sans-serif;

html {
    font-size: @rootFontSize;
}

body {
    background: #88E1BE;
}


.container {
    margin-top: 10px;
}